@import url('min/fonts.min.css');
@import url('min/reset.min.css');
@import url('min/keyframes.min.css');
@import url('min/style.min.css');
:root {
    --color__primary: #0ebfdd;
    --color__black: #45494d;
    --color__grey: #73767a;
    --color__white: #ffffff;
    --color__dark: #000000;

    --color__trans_black-01: rgb(69 73 77 / 85%);
    
    --font: 'Montserrat', sans-serif;
    --width: 80rem;
    --gap: 0.75rem;
    --padding: 1rem;
    --border: solid 0.063rem;
    --radius: 0.875rem;
    --transitionTime: 550ms;

    --animation__slideInDown: slideInDown 1.5s both;
    --animation__slideOutUp: slideOutUp 1.5s both; 
}