html { scroll-behavior: smooth; }
body { font-family: var(--font); color: var(--color__black); font-weight: 400; font-style: normal; }
::-webkit-scrollbar { width: calc(var(--gap) / 1.4); }
::-webkit-scrollbar-track { background-color: var(--color__dark); }
::-webkit-scrollbar-thumb { background-color: var(--color__grey); }
::-webkit-scrollbar-thumb:hover { background-color: var(--color__grey); }

[data-bg-color="primary"] { background-color: var(--color__primary); }
[data-bg-color="black"] { background-color: var(--color__black); }
[data-bg-color="white"] { background-color: var(--color__white); }
[data-bg-color="grey"] { background-color: var(--color__grey); }
[data-bg-color="dark"] { background-color: var(--color__dark); }

[data-bg-trans="mission"] { background-color: var(--color__trans_black-01); }

[data-bg-img="mission"] { background-image: url("../../images/bg__mission.webp"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

[data-txt-color="primary"],
[data-txt-color="primary"]:visited { color: var(--color__primary); } 

[data-txt-color="black"],
[data-txt-color="black"]:visited { color: var(--color__black); }

[data-txt-color="white"],
[data-txt-color="white"]:visited { color: var(--color__white); }

[data-txt-color="grey"],
[data-txt-color="grey"]:visited { color: var(--color__grey); }

.fill_primary { fill: var(--color__primary); }
.fill_black { fill: var(--color__black); }
.fill_white { fill: var(--color__white); }
.fill_grey { fill: var(--color__grey); }

.d_flex { display: flex; }
.d_block { display: block; }
.d_none { display: none; }
.d_grid { display: grid; }
.flow_wrap { flex-flow: row wrap }
.flex_row { flex-direction: row; }
.flex_column { flex-direction: column; }
.justify_content-start { justify-content: flex-start; }
.justify_content-center { justify-content: center; }
.justify_content-end { justify-content: flex-end; }
.justify_content-between { justify-content: space-between; }
.justify_content-around { justify-content: space-around; }
.align_items-start { align-items: flex-start; }
.align_items-center { align-items: center; }
.align_items-end { align-items: flex-end; }
.max_100 { max-width: 100%; }
.w_100 { width: 100%; }
.h_100 { height: 100%; }
.mx_auto { margin-inline: auto; }
.overflow_hidden { overflow: hidden; }
.object_cover { object-fit: cover; }
.object_center { object-position: center; }
.radius_100 { border-radius: 100%; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.position_fixed { position: fixed; }
.position_sticky { position: sticky; }

[data-txt-weight="400"] { font-weight: 400; }
[data-txt-weight="500"] { font-weight: 500; }
[data-txt-weight="600"] { font-weight: 600; }
[data-txt-weight="700"] { font-weight: 700; }
[data-txt-weight="800"] { font-weight: 800; }

[data-txt-transform="capitalize"] { text-transform: capitalize; }
[data-txt-transform="uppercase"] { text-transform: uppercase; }
[data-txt-transform="lowercase"] { text-transform: lowercase; }

[data-txt-decoration="none"] { text-decoration: none; }
[data-txt-decoration="underline"] { text-decoration: lowercase; }

[data-txt-style="normal"] { font-style: normal; }
[data-txt-style="italic"] { font-style: italic; }

[data-txt-align="right"] { text-align: right; }
[data-txt-align="center"] { text-align: center; }
[data-txt-align="left"] { text-align: left; }
[data-txt-talign="justify"] { text-align: justify; }

.animation__slideInDown { -webkit-animation: var(--animation__slideInDown); animation: var(--animation__slideInDown); }
.animation__slideOutUp { -webkit-animation: var(--animation__slideOutUp); animation: var(--animation__slideOutUp); }

.row { gap: calc(var(--gap) * 1.6); padding-inline: var(--padding); max-width: calc(var(--width) - (var(--padding) * 2)); }
.section { padding-block: calc(var(--padding) * 4.5); }
.section__title { max-width: calc(var(--width) / 1.8); font-size: clamp(calc(var(--gap) * 2), 7vw, calc(var(--gap) * 2.5)); }
.section__text { max-width: calc(var(--width) / 1.6); font-size: clamp(calc(var(--gap) * 1.1), 3.5vw, calc(var(--gap) * 1.3)); line-height: 1.65; }
.btn { padding-block: calc(var(--padding) / 1.25); padding-inline: calc(var(--padding) * 2); border: var(--border) var(--color__white); border-radius: var(--radius); min-width: calc(var(--gap) * 16); width: fit-content; font-size: clamp(calc(var(--gap) * 1.1), 3.25vw, calc(var(--gap) * 1.2)); }

.header { top: 0; height: calc(var(--gap) * 6); z-index: 10; -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.header .row { -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
.header h1 { color: transparent; font-size: 0; }
.header__logo { font-size: clamp(calc(var(--gap) * 2), 7vw, calc(var(--gap) * 2.25)); }
.header.fixed { background-color: var(--color__black)!important; transition: background-color var(--transitionTime); }
.header.fixed .row a,
.header.fixed .row a:visited { color: var(--color__white)!important; -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
@media(min-width: 768px) {
    .nav,
    .header__toggler { display: none!important; }
    .header__nav { gap: var(--gap); }
    .header__nav a { padding-block: calc(var(--padding) / 2); padding-inline: calc(var(--padding) * 1.8); border-radius: var(--radius); font-size: clamp(calc(var(--gap) * 1.025), 3.5vw, calc(var(--gap) * 1.125)); -webkit-transition: border-color var(--transitionTime); transition: border-color var(--transitionTime); }
}
@media(max-width: 767.89px) {
    .header__toggler { border: var(--border) var(--color__black); width: calc(var(--gap) * 3.25); border-radius: calc(var(--radius) / 1.25); height: calc(var(--gap) * 3.25); background-color: transparent; }
    .header__toggler svg { max-width: calc(var(--gap) * 2);  -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .header__nav { display: none; }
    .nav { top: calc(var(--gap) * 6); border-bottom: var(--border) var(--color__grey); z-index: 1; -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .nav ul { -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .nav a { padding-block: calc(var(--gap) * 2); padding-inline: var(--padding); border-top: var(--border) var(--color__grey) ; font-size: clamp(calc(var(--gap) * 1.125), 3.5vw, calc(var(--gap) * 1.25)); }
    .header.fixed .header__toggler,
    .header__toggler.active { -webkit-transition: border-color var(--transitionTime), background-color var(--transitionTime); transition: border-color var(--transitionTime), background-color var(--transitionTime); }
    .header.fixed .header__toggler svg,
    .header__toggler.active svg { -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .header.fixed .header__toggler { border-color: var(--color__white); }
    .header.fixed .header__toggler svg,
    .header__toggler.active svg { fill: var(--color__white); }
    .header__toggler.active { border-color: var(--color__primary); background-color: var(--color__primary); }
    .nav.fixed { background-color: var(--color__black)!important; -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .nav.fixed ul { color: var(--color__white)!important; -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .nav.fixed a:visited { color: var(--color__white); }
}

#mission { height: calc(100vh - (var(--gap) * 6)); min-height: calc(var(--gap) * 34); }
#mission .section__title { gap: calc(var(--gap) * 1.25); }
#mission .section__title::before,
#mission .section__title::after { content: ''; display: block; background-image: url("../../images/icon__star.png"); background-repeat: no-repeat; background-size: cover; width: var(--gap); height: var(--gap);}

#team .row { gap: calc(var(--gap) * 6); }
.team__container { gap: calc(var(--gap) * 4); max-width: calc(var(--width) / 1.45); }
.teambox { gap: calc(var(--gap) / 1.2); max-width: calc(((var(--width) / 1.45) - (var(--gap) * 4)) / 3.19); }
.teambox h3 { font-size: clamp(calc(var(--gap) * 1.28), 3.5vw, calc(var(--gap) * 1.35)); }
.teambox p { font-size: clamp(calc(var(--gap) * 1.125), 3.5vw, calc(var(--gap) * 1.25)); }
.teambox__thumbnail { max-width: calc(var(--gap) * 12.5); }

#map iframe { height: calc(var(--gap) * 40); }

.footer { padding-block: calc(var(--padding) * 2); }
.footer .row,
[data-footer-col="1"] { gap: calc(var(--gap) * 1.25); }
[data-footer-col="1"] >div { max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 1.25)) / 2.06); }
[data-footer-col="2"] { padding-top: calc(var(--gap) * 1.25); border-top: var(--border) var(--color__grey);}
.footer__nav ul { gap: calc(var(--gap) * 1.5); }
.footer__nav a { font-size: calc(var(--gap) * 1.05); }
.footer__social ul { gap: calc(var(--gap) * 2); }
.footer__social a { border: var(--border) var(--color__white); width: calc(var(--gap) * 2.8); height: calc(var(--gap) * 2.8); }
.footer__social svg { max-width: calc(var(--gap) * 1.4); }
.footer__disclaimer ul { gap: calc(var(--padding) / 1.25); font-size: calc(var(--gap) * 1.08); }
@media (min-width: 1245px) {
    .footer__nav { justify-content: flex-start; }
    .footer__nav ul { flex-flow: row wrap; }
    .footer__social { justify-content: flex-end; }
    [data-footer-col="2"] { justify-content: flex-end; }
    .footer__disclaimer li:not(:last-child) { padding-right: calc(var(--padding) / 1.25); border-right: var(--border) var(--color__grey); }
}
@media (max-width: 1244.89px) {
    .footer__nav { flex-direction: column; justify-content: center; }
    .footer__nav ul { flex-flow: column wrap; }
    .footer__social { justify-content: center; }
    [data-footer-col="2"] { justify-content: center; }
    .footer__disclaimer ul { flex-direction: column; }
}

@media(hover: hover) {
    .header__nav a,
    .header__nav a:hover,
    .btn,
    .btn:hover { -webkit-transition: color var(--transitionTime), background-color var(--transitionTime); transition: color var(--transitionTime), background-color var(--transitionTime); }
    .footer__social a,
    .footer__social a:hover { -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .footer__social a svg,
    .footer__social a:hover svg { -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .footer__nav a,
    .footer__nav a:hover,
    .footer__disclaimer a,
    .footer__disclaimer a:hover { -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .header__nav a:hover { color: var(--color__white); background-color: var(--color__primary); }
    .btn:hover { color: var(--color__primary); background-color: var(--color__white); }
    .footer__social a:hover { background-color: var(--color__white); }
    .footer__social a:hover svg { fill: var(--color__black); }
    .footer__nav a:hover { color: var(--color__primary); }
    .footer__disclaimer a:hover { color: var(--color__white); }
}